<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderlust</title>
</head>
<body>
  <h1>Wanderlust listing details</h1>
    <ul>
      <li>
        title: <%=listing.title%>
      </li>
      <li>
        decsription : <%=listing.description%>
      </li>
      <li>
        image : <%=listing.image.filename%> <br>
         <%=listing.image.url%>
      </li>
      <li>
        price : <%=listing.price%>
      </li>
      <li>
        <%=listing.location%>
      </li>
      <li>
        <%=listing.country%>
      </li>
    </ul>
</body>
</html>
